/*========== Lists ==========*/

.list-group-item {
    background-color: var(--list-item-background);
    border-color: var(--list-item-border);
    margin: 0;
    cursor: default;
}

.list-group-item a {
    text-decoration: none;
}

.list-group-item a.font-light,
.list-item-dark.font-light{
    color: var(--font-light)!important;
}

.list-group-item a.font-dark,
.list-item-dark.font-dark {
    color: var(--font-dark)!important;
}

.profile-list-item:hover {
    background-color: var(--list-item-profile-background-hover);
    color: var(--list-item-profile-font-hover)!important;
}

.list-item-dark {
    background-color: var(--list-item-background-dark);
    color: var(--list-item-font);
}

.list-item-dark:hover,
.list-group-item-action:active {
    background-color: var(--list-item-background-dark-hover);
    color: var(--list-item-dark-font-hover);
    border-left-color: var(--card-background);
    border-right-color: var(--card-background);
}

.list-item-dark.no-hover:hover {
    background-color: var(--list-item-background-dark);
    color: var(--list-item-font)!important;
    border-color: var(--list-item-border);
}

.danger {
    background-color: var(--list-item-danger)!important;
    color: var(--list-item-font)!important;
}

.danger-on-hover:hover {
    background-color: var(--list-item-danger)!important;
    color: var(--list-item-font)!important;
}

.list h5 {
    color: var(--font-light);
}

