/*========== Lists ==========*/

.list-group-item {
    background-color: var(--list-item-background);
    border-color: var(--list-item-border);
    margin: 0;
    cursor: default;
}

.list-group-item a {
    text-decoration: none;
}

.profile-list-item:hover {
    background-color: var(--list-item-profile-background-hover);
    color: var(--list-item-profile-font-hover)!important;
}

.list-item-dark {
    background-color: var(--list-item-background-dark);
    color: var(--list-item-font);
}

.notification {
    background-color: var(--list-item-notification-background);
}

.notification:hover {
    background-color: var(--list-item-notification-background-hover);
}

.notification a {
    color: var(--list-item-notification-font)!important;
    text-decoration: none;
}

.notification a:hover {
    text-decoration: underline;
}

.notification:hover a {
    color: var(--list-item-notification-font-hover)!important;
}
/*
.list-item-dark:hover,
.list-group-item-action:active {
    background-color: var(--list-item-background-dark-hover);
    color: var(--list-item-dark-font-hover);
    border-left-color: var(--card-background);
    border-right-color: var(--card-background);
}
*/
.list-item-dark.no-hover:hover {
    background-color: var(--list-item-background-dark);
    color: var(--list-item-font)!important;
    border-color: var(--list-item-border);
}

.danger {
    background-color: var(--list-item-danger)!important;
    color: var(--list-item-font)!important;
}

.danger-on-hover:hover {
    background-color: var(--list-item-danger)!important;
    color: var(--list-item-font)!important;
}

.list h5 {
    color: var(--font-light);
}

