.test {
    border: 3px solid darkgoldenrod;
    padding: 15px;
    margin: 4px;
    border-radius: 5px;
}

.test-header .name {
    font-weight: 600;
}

.header {
    padding: 15px;
    background-color: bisque;
    margin-bottom: 10px;
}

.description {
    padding-top: 12px;
}

.answer {
    z-index: 1000;
    background-color: darkgray;
    border-radius: 10px;
    padding: 4px;
    margin: 5px;
    font-weight: 600;
    font-size: 14px;
}

.hidden {
    display: none;
}

.answer label {
    font-weight: 400;
    font-size: 1.1em;
    padding: 6px;
    text-align: start;
    width: 100%;
    margin: 0;
}

.question-header {
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
}

.chosen {
    background-color: cadetblue;
    color: white;
}

.item {
    /* border: 3px solid darkcyan; */
    border-radius: 5px;
    background-color: #899ed4;
    padding: 10px;
    color: white;
    font-weight: 600;
    margin-top: 15px;
}

.result-header {
    border-bottom: 4px solid white;
    padding: 5px 5px 12px 5px;
    font-size: 1.4em;
    color: black;
}

.result-table-header {
    color: #333333;
    padding: 5px;
}

.result-row {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.table-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
}

.correct{color: green}
.incorrect{color: red}

.result-cell {
    font-size: 0.9em;
}

.result {
    font-size: 20px;
}