body {
    background-color: var(--background);
}

.test {
    border: 3px solid var(--border);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--main-light);
}

.test-header .name {
    font-weight: 600;
}

.item {
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
}

.description {
    padding-top: 12px;
}

/*========== Question ==========*/

.answer {
    border-radius: 6px;
    margin: 5px;
    font-weight: 600;
    font-size: 14px;
    border: 3px solid var(--border);
    background-color: white;
}

.answer label {
    font-weight: 400;
    font-size: 1.1em;
    padding: 6px;
    text-align: start;
    width: 100%;
    margin: 0;
}

.question-header {
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
}

.question-container {
    border: 6px solid var(--border);
    background-color: var(--main-dark);
}

.question-pre-header {
    color: var(--correct-dark);
}

.chosen {
    background-color: var(--correct-dark);
    color: var(--font-light);
}

/*========== Result table ==========*/

.result-header {
    border: 4px solid var(--border);
    border-bottom: none;
    font-size: 1.4em;
    background-color: var(--main-dark);
}

.result-table-header {
    color: #333333;
    padding: 5px;
}

.result-row {
    border-right: 4px solid var(--border);
    border-left: 4px solid var(--border);
}

.table-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
}

.correct{
    background-color: var(--correct)!important;
    color: var(--font-light);
}

.result-cell {
    font-size: 1em;
    background-color: var(--main-light);
    border: 1px solid var(--border);
    border-top: 0;
    padding-top: 3px;
}

.result {
    font-size: 20px;
    border: 4px solid var(--border);
    border-top: none;
}

/*========== Navbar ==========*/

.header {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--header-background);
    margin-bottom: 10px;
    color: var(--header-font);
}

.nav-tabs {
    background-color: var(--nav-background);
    color: var(--nav-font);
    border-bottom: var(--nav-border-width) solid var(--nav-border);
}

.nav-tabs .nav-item {
    margin-bottom: -2px;
}

.nav-link.active, .nav-link.active:hover {
    background-color: var(--nav-background-active)!important;
    border: var(--nav-border-width) solid var(--nav-border)!important;
    border-bottom: var(--nav-border-width) solid var(--nav-background-active)!important;
    color: var(--nav-font-active)!important;
}

.nav-link {
    color: var(--nav-font);
}

.nav-link:hover {
    color: var(--nav-font-hover);
    border-color: var(--nav-border-hover)!important;
    background-color: var(--nav-background-hover);
}

/*========== List groups ==========*/

.list-group-item {
    background-color: var(--list-item-background);
    border-color: var(--list-item-border);
    margin: 0;
    cursor: default;
}

.list-group-item a {
    text-decoration: underline;
}

.list-group-item a.font-light {
    color: var(--list-item-font-light);
}

.list-group-item a.font-dark {
    color: var(--list-item-font-dark);
}

.profile-list-item:hover {
    background-color: var(--list-item-profile-background-hover);
    color: var(--list-item-profile-font-hover);
}

.list-item-dark {
    background-color: var(--list-item-background-dark);
    color: var(--list-item-font-light)!important;
}

.list-item-dark:hover {
    background-color: var(--list-item-background-dark-hover);
    color: var(--list-item-font-dark);
    border-left-color: var(--list-item-background-dark-hover);
    border-right-color: var(--list-item-background-dark-hover);
}

.list-item-dark.no-hover:hover {
    background-color: var(--list-item-background-dark);
    color: var(--list-item-font-light)!important;
    border-color: var(--list-item-border);
}

.danger {
    background-color: var(--list-item-danger)!important;
    color: var(--list-item-font-light)!important;
}

.danger-on-hover:hover {
    background-color: var(--list-item-danger)!important;
    color: var(--list-item-font-light)!important;
}

/*========== Utilities ==========*/

.card-text {
    cursor: default;
}

.incorrect{
    background-color: var(--incorrect)!important;
}

.link {
    text-decoration: underline;
}

.btn {
    padding: .44rem 1.4rem;
}

.btn-danger {
    background-color: var(--danger)!important;
}

.btn-success {
    background-color: var(--correct-dark)!important;
    border: var(--correct-dark)!important;
}

.bg-success {
    background-color: var(--correct-dark)!important;
}

.text-success {
    color: var(--correct-dark)!important;
}

.custom-link {
    color: var(--border);
    text-decoration: underline;
}

.hidden {
    display: none;
}

.delete-link {
    color: red;
}

.add-link {
    color: var(--correct-dark);
}

.card {
    background-color: var(--main-light);
    border: 2px solid var(--border);
}

.close-btn {
    font-size: 1.3em;
}

.close-btn:hover {
    text-decoration: none;
}

.wrapper {
    min-height: 86vh;
    overflow-y: auto;
}

/*========== Contacts ==========*/
.contacts {
    background-color: #333333;
    margin-top: 1em;
}

.contacts a {
    font-size: 1em;
    color: white;
    padding: 7px;
}

.contacts a:hover {
    color: #aaa;
}

/*========== Scrollbar ==========*/

html {
    overflow: auto;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 13px;
    background: rgba(200, 200, 200, 0.6);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200, 200, 200, 0.4);
}