/*========== Utilities ==========*/

html {
    overflow: auto;
}

body {
    background-color: var(--background);
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}

.spoiler {
    font-size: 15px;
    color: #9c9cff;
    text-decoration: underline;
    cursor: pointer;
}

.font-light{
    color: var(--font-light)!important;
}

.font-dark {
    color: var(--font-dark)!important;
}

label {
    color: var(--font-light);
}

input, input:focus {
    background-color: var(--a)!important;
    color: var(--font-light)!important;
}

.header {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--header-background);
    margin-bottom: 10px;
    color: var(--header-font);
}

.card-text {
    cursor: default;
}

.btn {
    padding: .44rem 1.4rem;
}

.btn-danger {
    background-color: var(--btn-danger)!important;
}

.btn-success {
    background-color: var(--success)!important;
    border: var(--success)!important;
}

.bg-success {
    background-color: var(--success)!important;
}

.text-success {
    color: var(--success)!important;
}

.hidden {
    display: none;
}

.delete-link {
    color: var(--delete-link);
}

.add-link {
    color: var(--success);
}

.card-title, .card-text {
    color: var(--card-font)!important;
}

.card {
    background-color: var(--card-background);
    border: 2px solid var(--card-border);
}

.close-btn {
    font-size: 1.3em;
}

.close-btn:hover {
    text-decoration: none;
}

.wrapper {
    min-height: 86vh;
    overflow-y: auto;
}

/*========== Contacts ==========*/
.contacts {
    background-color: var(--contacts-background);
    border-top: 2px solid var(--b);
    margin-top: 1em;
}

.contacts a {
    font-size: 1em;
    color: var(--contacts-font);
    padding: 7px;
}

.contacts a:hover {
    color: var(--contacts-font-hover);
}

/*========== Scrollbar ==========*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 13px;
    background: rgba(200, 200, 200, 0.6);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200, 200, 200, 0.4);
}