:root {
    --a: #26292e;
    --b: #ff5564;
    --c: #36383e;
    --d: #60636a;
    --e: #51535c;
    --f: #82848a;
    --g: #43474f;

    --background: var(--g);
    --font-dark: #000;
    --font-light: #fff;

    --test-border: var(--a);
    --test-font: #fff;
    --test-description-font: #d8d8d8;
    --test-background: var(--d);

    --question-border: var(--a);
    --question-border-chosen: var(--b); /*#57c700;*/
    --question-background: var(--c);
    --question-answer-background: var(--f);
    --question-chosen: #659e3a;
    --question-font: #fff;
    --question-font-header: #e0e0e0;
    --question-answer-font: #000;

    --result-border: var(--f);
    --result-background-dark: var(--a);
    --result-background-light: var(--c);
    --result-font: #fff;
    --result-correct: #629c53;
    --result-incorrect: #7d4949;
    --result-font-correct: #fff;

    --nav-border: var(--b);
    --nav-border-hover: var(--a);
    --nav-border-width: 2px;
    --nav-background: var(--a);
    --nav-background-active: var(--g);
    --nav-background-hover: var(--c);
    --nav-font: #fff;
    --nav-font-active: #fff;
    --nav-font-hover: #fff;

    --list-item-border: var(--c);
    --list-item-font: #fff;
    --list-item-notification-font: #000;
    --list-item-dark-font-hover: #000;
    --list-item-background: var(--f);
    --list-item-background-dark: var(--e);
    --list-item-notification-background: #bfbfbf;
    --list-item-background-dark-hover: var(--f);
    --list-item-profile-font-hover: #fff;
    --list-item-profile-background-hover: var(--f);
    --list-item-danger: #dc3545;

    --header-background: var(--a);
    --header-font: #fff;

    --success: #3c7510;
    --btn-danger: #c11324;
    --delete-link: #b70000;

    --contacts-background: var(--a);
    --contacts-font: #fff;
    --contacts-font-hover: #aaa;

    --card-background: var(--c);
    --card-border: var(--b);
    --card-font: #fff;
}