{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h3>{{title}}</h3>
        </div>
    </div>

    <div class="buttons">
        {% if current_user.is_authenticated %}
        <a href="/job" class="btn btn-secondary">Add a job</a>
        {% endif %}
        <a href="/departments_list" class="btn btn-secondary">Departments</a>
    </div>
    
    {% for action in actions %}
    <div class="container-fluid item">
        <div class="row">
            <div class="col-12 action-title"><h4>Action #{{action.id}}</h4></div>
        </div>
        <div class="row">
            <div class="col-4 title">Title of a job</div>
            <div class="col-2 title">Team leader</div>
            <div class="col-1 title">Duration</div>
            <div class="col-1 title">Hazard category</div>
            <div class="col-2 title">List of collaborators</div>
            <div class="col-2 title">Is finished</div>
        </div>
        <div class="row">
            <div class="col-4 cell">{{action.job}}</div>
            <div class="col-2 cell">{{action.user.name + " " + action.user.surname}}</div>
            <div class="col-1 cell">{{action.work_size}} hours</div>
            <div class="col-1 cell">{{action.kind}}</div>
            <div class="col-2 cell">{{action.collaborators}}</div>
            <div class="col-2 cell {% if not action.is_finished %} not-finished {% endif %}">
                {% if not action.is_finished %} is not finished
                {% else %} is finished
                {% endif %}
            </div>
        </div>
    </div>
    {% if current_user.id == 1 or current_user.id == action.creator or current_user.id == action.team_leader %}
    <div class="buttons">
        <a href="/job/{{action.id}}" class="btn btn-warning">Edit</a>
        <a href="/delete_job/{{action.id}}" class="btn btn-danger">Delete</a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}