{% extends "base.html" %}

{% block content %}
<div class="row">
    <h2 class="header col-12">{{title}}</h2>
    {% if tests %}
    <div class="col-12 col-lg-10 col-xl-12 mx-auto my-4">
        <div class="row tests">
            {% for test in tests %}
            <div class="col-12 col-md-6 col-xl-4">
                <div class="test m-2">
                    <div class="row align-items-center test-header">
                        <div class="col-12 col-sm-8 text-left">
                            <div class="name">
                                {{test.name}}
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 text-right">
                            <div class="name">
                                {% if test.creator %}{{test.creator.nickname}}{% else %}DELETED{% endif %}
                            </div>
                        </div>
                    </div>
                    {% if test.description%}
                    <hr>
                    <div class="row">
                        <div class="description col-12">{{test.description}}</div>
                    </div>
                    {% endif %}
                    <hr>
                    <div class="text-center mb-1">
                        <a href="/test/start/{{test.id}}" class="px-3 py-1 btn-start btn btn-success">
                            Начать <i class="fas fa-play-circle"></i>
                        </a>
                        <a href="/training/start/{{test.id}}" class="px-3 py-1 btn-start btn btn-warning">
                            Тренировка <i class="fas fa-bolt"></i>
                        </a>
                        <a href="/stat/{{test.id}}" class="px-3 py-1 btn-start btn btn-primary">
                            История <i class="fas fa-history"></i>
                        </a>
                        {% if test.creator == current_user or current_user.type_id == 1 %}
                        <a href="/access/test/{{test.id}}" class="px-3 py-1 btn-start btn btn-secondary">
                            Доступ <i class="fas fa-users-cog"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <h4 class="header header-alert col-12">
        У вас нет доступа ни к одному тесту
    </h4>
    {% endif %}
</div>
{% endblock %}