{% extends "base.html" %}


{% block content %}

<div class="row">
    <h2 class="header col-12">{{title}}</h2>
    {% if current_user.type_id in (1, 2) %}
    <div class="col-12 text-center mb-3">
        <a href="/create_group" class="m-1 mx-auto btn btn-success">Новая группа <i class="fas fa-plus-square"></i></a>
    </div>
    {% endif %}
    {% if code == 0%}
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
        {% for group in groups %}
        <div class="group-container mx-auto px-1 pb-3" id="{{group.id}}">
            <div class="card px-3 py-0">
                <div class="card-body align-items-center">
                    <h2 class="card-title d-flex justify-content-between align-items-center">
                        {{group.name}}
                    </h2>
                    <p class="card-text {% if current_user == group.creator %}list-item-dark font-light no-hover p-1 rounded {% endif %}">
                        <b>
                            {{group.creator.nickname}}
                            {% if current_user == group.creator %} (Вы){% endif %}
                        </b>
                    </p>
                </div>
                <ul class="list list-group pb-3">
                    {% if group.users %}
                        {% for user in group.users %}
                        <li class="list-group-item py-2 d-flex justify-content-between align-items-center
                                   {% if current_user == user %} list-item-dark {% endif %}
                        ">
                            <b>
                                {% if current_user == user or user in current_user.created or current_user.type_id == 1 %}
                                <a class="{% if current_user == user %} font-light {% else %} font-dark {% endif %}"
                                    href="/user_stat/{{user.id}}">
                                    {{user.nickname}}{% if current_user == user %}(Вы){% endif %}
                                </a>
                                {% else %}
                                    {{user.nickname}}{% if current_user == user %}(Вы){% endif %}
                                {% endif %}
                            </b>
                            <span class="badge badge-primary">{{user.user_type.name}}</span>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item danger py-2">Пользователей ещё нет</li>
                    {% endif %}
                </ul>
                {% if current_user.type_id == 1 or current_user == group.creator %}
                <div class="text-center mb-3">
                    <a href="/delete_group/{{group.id}}" class="m-1 btn btn-danger">Удалить группу <i class="fas fa-trash-alt"></i></a>
                    <a href="/groups/{{group.id}}" class="m-1 btn btn-success">Редактировать <i class="fas fa-edit"></i></a>
                </div>
                {% elif current_user.type_id != 3 %}
                <div class="text-center mb-3">
                    <a href="/groups/{{group.id}}" class="m-1 btn btn-primary">Просмотреть <i class="fas fa-eye"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% elif code == 1%}
        <h4 class="header col-12 header-alert">
            Вы не добавлены ни в одну группу
        </h4>
        {% endif %}
    </div>
</div>

{% endblock %}