<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <title>{{title}}</title>
</head>
<body>

    <div class="row header align-items-center">
        <div class="{% if current_user.is_authenticated %} col-sm-8 col-md-10 {% else %} col-12 {% endif %}">
            <h2>{{title}}</h2>
        </div>
        {% if current_user.is_authenticated %}
        <div class="col-sm-4 col-md-2">
            <p class="user_label">{{current_user.nickname}}</p>
        </div>
        {% endif %}
    </div>

    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>