{% extends "base.html" %}

{% block content %}

<h2 class="header col-12">Добавить группу</h2>
<div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto my-2 py-2 group-adder">
    <form action="/groups/add" method="post">
        {{form.hidden_tag()}}
        <div class="form-row align-items-end">
            <div class="form-group col-8 mx-auto">
                {{form.name.label}}
                {{ form.name(class="form-control", type="text", placeholder="Название группы") }}
                {% for error in form.name.errors %}
                <small class="form-text red">
                    {{ error }}
                </small>
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mt-1 mb-3 mx-auto pl-1">
                <a href="/groups" class="btn btn-primary">
                    <i class="fas fa-chevron-left"></i> Вернуться
                </a>
                <button class="btn btn-success" id="submit" name="submit" type="submit">
                    Подтвердить <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}