{% extends "base.html" %}


{% block content %}

<div class="row">
    {% if code == 0%}
    <h2 class="header col-12">{{title}}</h2>
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div class="group-container mx-auto px-1 pb-3" id="{{group.id}}">
            <div class="card px-3 py-0">
                <div class="card-body align-items-center">
                    <h2 class="card-title d-flex justify-content-between align-items-center">
                        {{group.name}}
                    </h2>
                    <p class="card-text {% if current_user == group.creator %}list-item-dark no-hover p-1 rounded {% endif %}">
                        <b>
                            {{group.creator.nickname}}
                            {% if current_user == group.creator %}(Вы){% endif %}
                        </b>
                    </p>
                </div>
                <ul class="list list-group pb-3">
                    <h5>В группе</h5>
                    {% if group.users %}
                        {% for user in group.users %}
                        <li class="list-group-item py-2 d-flex justify-content-between align-items-center
                                   {% if current_user == user %} list-item-dark {% endif %}
                        ">
                            <b>
                                <a href="/remove_user/{{user.id}}/{{group.id}}" title="Исключить" class="delete-link"><i class="fas fa-user-minus"></i></a>
                                {{user.nickname}}
                            </b>
                            <span class="badge badge-primary">{{user.user_type.name}}</span>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item danger py-2">Пользователей ещё нет</li>
                    {% endif %}
                </ul>
                <hr>
                <ul class="list list-group pb-3">
                    <h5>Добавить</h5>
                    {% if users %}
                        {% for user in users %}
                        <li class="list-group-item py-2 d-flex justify-content-between align-items-center
                                   {% if current_user == user %} list-item-dark {% endif %}
                        ">
                            <b>
                                <a href="/add_user/{{user.id}}/{{group.id}}" title="Добавить" class="add-link"><i class="fas fa-user-plus"></i></a>
                                {{user.nickname}}
                            </b>
                            <span class="badge badge-primary">{{user.user_type.name}}</span>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item danger py-2">Все пользователи уже в группе</li>
                    {% endif %}
                </ul>
                <div class="text-center mb-3">
                    <a href="/groups" class="m-1 btn btn-primary"><i class="fas fa-chevron-left"></i> Вернуться</a>
                </div>
            </div>
        </div>
        {% elif code == 1%}
        <div class="alert alert-danger col-10 m-4">
            <h3>Пусто!</h3>
            <p>Похоже, такой группы нет</p>
        </div>
        {% elif code == 2 %}
        {% include "go_away.html" %}
        {% endif %}
    </div>
</div>

{% endblock %}