{% extends "base.html" %}

{% block content %}

<div class="row">
    <h2 class="header col-12">Авторизация</h2>
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto my-4">
        {% if message %}
        <h4 class="header col-12 header-error">{{message}}</h4>
        {% endif %}
        <form method="post">
        {{form.hidden_tag()}}
            <div class="form-row">
                <div class="form-group col-sm-6">
                    {{form.nickname.label}}
                    {{ form.nickname(class="form-control", type="text", placeholder="Логин") }}
                    {% for error in form.nickname.errors %}
                    <small class="form-text red">
                        {{ error }}
                    </small>
                    {% endfor %}
                </div>
                <div class="form-group col-sm-6">
                    {{form.password.label}}
                    {{ form.password(type="password", class="form-control", placeholder="Пароль", autocomplete="new-password") }}
                    {% for error in form.password.errors %}
                    <small class="form-text red">
                        {{ error }}
                    </small>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    {{ form.remember_me(type="checkbox", class="custom-control-input", checked="true") }}
                    {{form.remember_me.label(class="custom-control-label")}}
                    {% for error in form.password.errors %}
                    <small class="form-text red">
                        {{ error }}
                    </small>
                    {% endfor %}
                </div>
            </div>
            {{ form.submit(class="btn btn-primary", type="submit") }}
        </form>
    </div>
</div>
{% endblock %}