{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-8 my-4 mx-auto p-2">
        <div class="card p-1">
            <div class="card-body">
                <h5 class="card-title">{{current_user.user_type.name}}</h5>
                <p class="card-text">{{current_user.nickname}}</p>
            </div>
            <ul class="list list-group pb-3">
                <a href="#" class="list-group-item profile-list-item list-group-item-action py-2">Мои группы</a>
                <a href="#" class="list-group-item profile-list-item list-group-item-action py-2">Мои учителя</a>
                {% if current_user.type_id in (1, 2) %}
                    <a href="/all_users" class="list-group-item profile-list-item list-group-item-action py-2">Пользователи</a>
                {% endif %}
                <a href="/logout" class="danger-on-hover list-group-item profile-list-item list-group-item-action py-2">Выйти из аккаунта</a>
            </ul>
        </div>
    </div>
</div>

{% endblock %}