{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-11 col-md-10 col-lg-8 col-xl-6 my-4 mx-auto p-2">
        <div class="card p-1">
            <div class="card-body">
                <h5 class="card-title">{{current_user.user_type.name}}</h5>
                <p class="card-text">{{current_user.nickname}}</p>
            </div>
            <ul class="list list-group pb-3">
                <a href="/groups"
                   class="list-group-item profile-list-item list-item-dark list-group-item-action py-2">
                    Группы <i class="fas fa-list"></i>
                </a>
                {% if current_user.type_id in (1, 2) %}
                    <a href="/users"
                       class="list-group-item profile-list-item list-item-dark list-group-item-action py-2">
                        Пользователи <i class="fas fa-users"></i>
                    </a>
                {% endif %}
                <a href="/all_tests"
                   class="list-group-item profile-list-item list-item-dark list-group-item-action py-2">
                    Тесты <i class="fas fa-bars"></i>
                </a>
                <a href="/statistics"
                   class="list-group-item profile-list-item list-item-dark list-group-item-action py-2">
                    История <i class="fas fa-history"></i>
                </a>
                <a href="https://github.com/ilya-vodopyanov/testing-system/blob/master/README.md"
                   class="list-group-item profile-list-item list-item-dark list-group-item-action py-2">
                    Помощь <i class="far fa-question-circle"></i>
                </a>
                <a href="/logout"
                   class="danger-on-hover danger list-group-item profile-list-item list-group-item-action py-2">
                    Выйти из аккаунта <i class="fas fa-sign-out-alt"></i>
                </a>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
