{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="header col-12 pb-0">
        <h2>{{title}}</h2>
         <div class="font-light mt-1 mb-3">
            {% if not current_user.chat_id %}
             <hr>
            <h3 class="mb-3" style="color: #ff3030;">Подключите ваш аккаунт телеграм для получения уведомлений.</h3>
            <p class="mb-2">
                Отправьте в <a class="link" href="https://telegram.im/@tests_notifications_bot" target="_blank">чат</a>
                свой персональный код <b>{{current_user.secret_code}}</b> и <a class="link" href="/check">нажмите</a> для привязки
            </p>
            {% else %}
            <p class="font-light">Аккаунт привязан <a class="link-danger" href="/disconnect">Отвязать</a></p>
            {% endif %}
        </div>
    </div>
    <div class="col-12 row mx-auto">

    </div>
    {% if notifications %}
    <div class="col-12 row mx-auto">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 p-2 mx-auto">
            <ul class="list list-group pb-3">
                {% for notif in notifications %}
                <li class="list-group-item notification py-2 d-flex justify-content-between align-items-center">
                    <b>
                        {% if notif.link %}
                        <a href="{{notif.link}}">
                            {{notif.text}}
                        </a>
                        {% else %}
                        {{notif.text}}
                        {% endif %}
                    </b>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="alert alert-primary col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
            <h3>Уведомлений нет</h3>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}