{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto my-4">
        <div class="question-container p-4 m-2">
            <div class="question-pre-header mb-3 mx-auto">
                <div class="row">
                    <div class="pl-3 question-pre-header-text text-left col-6">
                        <h3>Вопрос</h3>
                    </div>
                    <div class="pr-3 question-pre-header-number text-right col-6">
                        <h3>{{question.current_n}}/{{question.n_questions}}</h3>
                    </div>
                </div>
                <div class="progress" style="height: 3px;">
                    <div class="progress-bar bg-success" style="width: {{ 100 / question.n_questions * question.current_n }}%;"></div>
                </div>
            </div>
            <form action="/test/save_answer" class="question-form" method="post">
                <input type="hidden" name="question_id" value="{{question.id}}">
                <div class="form-group">
                    <div class="question-header px-2 text-wrap">
                        {{question.text}}
                    </div>
                </div>
                <div class="form-group form-row text-center align-items-center">
                    {% for answer in question.answers %}
                    <div class="col-12">
                        <div class="answer">
                            <input type="radio" id="{{answer.id}}" value="{{answer.text}}"
                                   name="answer" class="hidden" required>
                            <label for="{{answer.id}}" class="text-wrap">
                                {{answer.text}}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group text-center mb-0">
                    <a href="/test/finish" class="mx-auto my-1 btn btn-danger"><i class="ml-2 fas fa-chevron-left"></i> Выйти</a>
                    <button type="submit" class="mx-auto my-1 btn btn-success" disabled>Следующий <i class="ml-2 fas fa-chevron-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(".answer").click(function(){
        $(".answer").removeClass("chosen")
        $(this).addClass("chosen")
        $('button[type=submit]').attr('disabled', false)
    })
</script>
{% endblock %}