{% extends "base.html" %}

{% block content %}

{% if code == 0 %}
<div class="row">
    <h2 class="header col-12">Регистрация</h2>
    <form class="col-lg-8 mx-auto register-form" method="post">
        {{form.hidden_tag()}}
        <div class="form-row">
            <div class="form-group col-12">
                {{form.nickname.label}}
                {{ form.nickname(class="form-control", type="text", placeholder="Логин") }}
                {% for error in form.nickname.errors %}
                <small class="form-text text-danger">
                    {{ error }}
                </small>
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{form.password.label}}
                {{form.password(class="form-control", placeholder="Пароль", autocomplete="new-password")}}
                {% for error in form.password.errors %}
                <small class="form-text text-danger">
                    {{ error }}
                </small>
                {% endfor %}
            </div>
            <div class="form-group col-md-6">
                {{form.password_confirmation.label}}
                {{form.password_confirmation(class="form-control", placeholder="Снова пароль", autocomplete="new-password")}}
                {% for error in form.password_confirmation.errors %}
                <small class="form-text text-danger">
                    {{ error }}
                </small>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                {{ form.is_teacher(type="checkbox", class="custom-control-input") }}
                {{form.is_teacher.label(class="custom-control-label")}}
                {% for error in form.is_teacher.errors %}
                <small class="form-text text-danger">
                    {{ error }}
                </small>
                {% endfor %}
            </div>
        </div>

        {{ form.submit(class="btn btn-primary", type="submit") }}
    </form>
</div>
{% elif code == 1%}
{% include "go_away.html" %}
{% endif %}
{% endblock %}