{% extends "base.html" %}

{% block content %}

<div class="row">
    {% if code == 0 %}
    <h2 class="header col-12">{{title}}</h2>
    {% for result in results %}
    <div class="result-item col-12 col-md-6 col-lg-4 mx-auto" result-id="{{result.id}}">
        <div class="item" id="{{result.id}}">
            <div class="row mb-2 py-3 result-header">
                <div class="col-12 text-wrap">
                    <a class="font-light" href="/statistics/{{result.test_id}}">
                        <h4>
                            {{result.test.name}} #{{result.id}}
                            <!--
                            {% if current_user.type_id == 3 %}
                            <button type="button" class="close">
                                <a href="/delete_result/{{result.id}}" title="Удалить" class="close-btn text-danger">&times;</a>
                            </button>
                            {% elif result.is_deleted %}
                            <a class="text-danger" onclick="alert('Пользователь удалил этот результат из списка')" title="Пользователь удалил этот результат из списка"><i class="fas fa-trash-alt"></i></a>
                            {% endif %}
                            -->
                        </h4>
                    </a>
                    <a href="#{{result.id}}" class="toggle-info font-light" target-id="{{result.id}}">
                        [<span class="spoiler">Нажмите, чтобы раскрыть +</span>]
                    </a>
                    <hr>
                </div>
                <div class="col-8 col-sm-9 text-wrap">
                    {% if result.user and
                    (current_user == result.user or result.user in current_user.created or current_user.type_id == 1) %}
                    <a class="font-light"
                        href="/user_statistics/{{result.user.id}}">
                        <h6>
                            {% if result.user.nickname %}
                                {{result.user.nickname}} {% if current_user == result.user %}(Вы){% endif %}
                            {% else %}
                                DELETED
                            {% endif %}
                        </h6>
                    </a>
                    {% else %}
                        <h6>
                            {% if result.user.nickname %}
                                {{result.user.nickname}}
                            {% else %}
                                DELETED
                            {% endif %}
                        </h6>
                    {% endif %}
                </div>
                <div class="col-4 col-sm-3 text-wrap">
                    <h6>{{result.finish_date}}</h6>
                </div>
            </div>
            {% for row in result.rows %}
            <div class="row result-row mb-2 mb-md-0 hidden" result-id="{{result.id}}">
                <div class="col-12 col-md result-cell text-wrap">
                    <small>Вопрос</small>
                    <br>
                    <span>{{row.text}}</span>
                </div>
                <div class="col-12 col-md result-cell text-wrap
                    {% if row.answer == row.correct %} correct
                    {% else %} incorrect
                    {% endif %}">
                    <small>Ваш ответ</small>
                    <br>
                    <span>{% if row.answer != None %}{{row.answer}}{% else %} <b>-</b> {% endif %}</span>
                </div>
                <div class="col-12 col-md result-cell text-wrap correct">
                    <small>Правильный ответ</small>
                    <br>
                    <span>{{row.correct}}</span>
                </div>
            </div>
            {% endfor %}
            <div class="row mt-0 mt-md-2 result">
                <div class="col-9 result-cell">Итого</div>
                <div class="col-3 result-cell
                    {% if result.n_correct_answers == result.n_all_answers%} correct {% endif %}
                ">
                    {{result.n_correct_answers}}/{{result.n_all_answers}}
                    <small>{{(result.n_correct_answers / result.n_all_answers * 100)|round}}%</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% elif code == 1 %}
    <h2 class="header col-12">{{title}}</h2>
    {% elif code == 2 %}
    {% include "go_away.html" %}
    {% elif code == 3 %}
    <div class="alert alert-danger col-10 m-4">
        <h2>Такого пользователя нет</h2>
    </div>
    {% endif %}
</div>

<script>
    $(".toggle-info").click(function() {
        let res_id = $(this).attr("target-id");
        $(".result-item[result-id=" + res_id + "]").toggleClass("col-12 col-md-12 col-lg-10");
        $(".result-row[result-id=" + res_id + "]").each(function(i, elem) {
           $(elem).toggleClass("hidden");
        });
        let text = $(".toggle-info[target-id=" + res_id + "] .spoiler").text();
        let newText = "Нажмите, чтобы раскрыть +Нажмите, чтобы скрыть -".replace(text, "");
        $(".spoiler").text(newText);
    });
</script>

{% endblock %}