{% extends "base.html" %}


{% block content %}

<div class="row">
    {% if code == 0%}
    <h2 class="header col-12">{{title}}</h2>
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div class="group-container mx-auto px-1 pb-3" id="{{test.id}}">
            <div class="card px-3 py-0">
                <div class="card-body align-items-center">
                    <h2 class="card-title d-flex justify-content-between align-items-center">
                        {{test.name}}
                    </h2>
                    <p class="card-text {% if current_user == test.creator %}list-item-dark font-light no-hover p-1 rounded {% endif %}">
                        <b>
                            {{test.creator.nickname}}
                            {% if current_user == test.creator %}(Вы){% endif %}
                        </b>
                    </p>
                </div>
                <h5 class="font-light">Доступ разрешён</h5>
                <ul class="list list-group pb-3">
                    {% if test.groups %}
                        {% for group in test.groups %}
                        <li class="list-group-item py-2 d-flex justify-content-between align-items-center">
                            <b>
                                {% if edit %}
                                <a href="/remove_group_from_test/{{test.id}}/{{group.id}}" title="Закрыть доступ" class="delete-link">
                                    <i class="fas fa-minus-square"></i>
                                </a>
                                {% endif %}
                                {% if current_user.type_id != 3 %}
                                <a class="font-dark" href="/groups/{{group.id}}">
                                    {{group.name}}
                                </a>
                                {% else %}
                                {{group.name}}
                                {% endif %}
                            </b>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item danger py-2">Ни у одной группы нет доступа</li>
                    {% endif %}
                </ul>
                <h5 class="font-light">
                    {% if edit %}
                        Разрешить доступ
                    {% else %}
                        Доступ запрещён
                    {% endif %}
                </h5>
                <ul class="list list-group pb-3">
                    {% if groups %}
                        {% for group in groups %}
                        <li class="list-group-item py-2 d-flex justify-content-between align-items-center">
                            <b>
                                {% if edit %}
                                <a href="/add_group_to_test/{{test.id}}/{{group.id}}" title="Добавить" class="add-link">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                                {% endif %}
                                {% if current_user.type_id != 3 %}
                                <a class="font-dark" href="/groups/{{group.id}}">
                                    {{group.name}}
                                </a>
                                {% else %}
                                {{group.name}}
                                {% endif %}
                            </b>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item danger py-2">У всех групп есть доступ</li>
                    {% endif %}
                </ul>
                <div class="text-center mb-3">
                    <a href="/" class="m-1 btn btn-primary"><i class="fas fa-chevron-left"></i> Вернуться</a>
                </div>
            </div>
        </div>
        {% elif code == 1%}
        <h4 class="header col-12 header-alert">Такого теста нет</h4>
        {% else %}
        {% include 'go_away.html' %}
        {% endif %}
    </div>
</div>

{% endblock %}