{% extends "base.html" %}


{% block content %}

{% if message %}
<div class="alert alert-secondary">
    {{message}}
</div>
{% endif %}
<div class="row">
    <h2 class="header col-12">Все пользователи</h2>
    {% if current_user.type_id in (1, 2) %}
    <div class="col-12 text-center mb-3">
        <a href="/register" class="m-1 btn btn-success">Новый пользователь <i class="fas fa-plus-square"></i></a>
    </div>
    {% endif %}
    {% if code == 0%}
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
        <ul class="list list-group pb-3">
            {% for user in users %}
            <li class="list-group-item py-2 d-flex justify-content-between align-items-center
            {% if current_user == user %}list-item-dark no-hover{% endif %}">
                <b>
                    {% if user in current_user.created or current_user.type_id == 1 %}
                        <a class="{% if current_user == user %} font-light {% else %} font-dark {% endif %}"
                            href="/user_statistics/{{user.id}}">
                            {{user.nickname}}
                        </a>
                        {% if user.type_id != 1 and (user in current_user.created or current_user.type_id == 1) %}
                            <a href="/delete_user/{{user.id}}" class="delete-link" title="Удалить"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    {% else %}
                        {{user.nickname}}
                    {% endif %}

                    {% if current_user == user %}(Вы){% endif %}
                </b>
                <span class="badge badge-primary">
                    {{user.user_type.name}}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% elif code == 1%}
    {% include "go_away.html" %}
    {% endif %}
</div>

{% endblock %}